<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.antique.demo.mapper.RoleMapper">
    <select id="selectAllRole" resultType="com.antique.demo.bean.Role" >
        SELECT * from antique_role
    </select>
    <select id="selectRoleByUsername" resultType="String" >
        SELECT role_username from antique_role where user_username = #{user_username}
    </select>
    <select id="selectRoleByUserId" resultType="String" >
        SELECT role_username from antique_role where user_id = #{user_id}
    </select>
    <delete id="deleteRoleByUserId">
        delete from antique_role where user_id = #{user_id}
    </delete>
    <insert id="insertRolePermission">
        insert into antique_role(role_username,user_id,user_username)
        values(#{role_username},#{user_id},#{user_username});
        <selectKey resultType="int" keyProperty="role_id" order="AFTER">
            SELECT @@identity
        </selectKey>
    </insert>
</mapper>